body{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(46, 44, 44);
    color: white;
    width: 100%;
}

li{
   float: left;
   border-right: 1px solid #555;
}
ul li a,.dp-Btn{
    color: white;
    padding: 16px 16px;
    display: block;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
   
}
ul li a.active{
    background-color: darkred;
}
ul li a:hover{
    background-color: black;
}
div{
    padding: 20px;
    
 }
 .dp-Content{
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    padding: 0;
 }
 .dropdown:hover .dp-Content{
    display: block;
 }
 .dp-Content a:hover {
    background-color: darkred;
 }